
.profilewar{
  display: flex;
  flex-direction: column;
  background-color: #a5cad2;

}

.top{
  display: flex;
  justify-content: space-between;
  background-color: #ffd521 ;
  margin: 15px;
  border-radius: 15px;
  
}
.content{
  background-color: #a5cad2;
  height: 100vh;
  margin: 15px;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  
}
h2,h3{
  margin: 10px;
  padding: 10px;
}

.taken::-webkit-scrollbar {
  display: none;
}

.created::-webkit-scrollbar {
  display: none;
}

.taken ,.created {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.taken{
  flex: 3;
  background-color:#a5cad2;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  overflow: auto;
}



.created{
  flex: 3;
  background-color: #a5cad2;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  overflow: auto;
}

.exam-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border: 1px solid #f6911f;
  background-color: #f6911f;
  /* background-color: #ffd521; */
}
.exam-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.exam-preview h2 {
  font-size: 20px;
  color: white;
  margin-bottom: 8px;
}
.exam-preview a {
  text-decoration: none;
}